.btn-discount {
    img {
        width: 200px;
        cursor: pointer;
    }
    .btn-order {
        display: inline-block;
        background: rgb(239, 71, 106);
        background: linear-gradient(0deg, rgba(239, 71, 106, 1) 0%, rgba(255, 142, 165, 1) 100%);
        border: none;
        border-radius: 4px;
        color: $c-white;
        padding: .8rem .5rem .5rem;
        width: 150px;
        font-size: 1.75rem;
        text-align: center;
        text-decoration: none;
        &:hover {
            box-shadow: 4px 5px 4px #e0143e;
        }
    }
    @include media-max(991px) {
        img {
            width: 150px;
        }
    }
}

.btn-benefit {
    background-color: transparent;
    border: 1px solid $c-white;
    outline: none;
    color: $c-white;
    padding: 4px 6px 1px;
    cursor: auto !important;
}

.submit-discount {
    background-color: $c-pink;
    border: none;
    color: $c-white;
    padding: 6px 1.5rem 3px;
}