.btn-discount {
    img {
        width: 200px;
    }
    @include media-max(991px) {
        img {
            width: 150px;
        }
    }
}

.btn-benefit {
    background-color: transparent;
    border: 1px solid $c-white;
    outline: none;
    color: $c-white;
    padding: 4px 6px 1px;
    &:hover {
        background-color: $c-white;
        color: $c-black;
    }
}

.submit-discount {
    background-color: $c-pink;
    border: none;
    color: $c-white;
    padding: 6px 1.5rem 3px;
}