$ff-bold: "DBAdmanX-Blod";
$ff-regular: "DBAdmanX";
$ff-light: "DBAdmanX-Light";
$c-pink: #ef476a;
$c-orange: #ff8a00;
$c-white: #ffffff;
$c-black: #000000;
$c-gray-black: #565656;
@mixin media-min($length) {
    @media (min-width: $length) {
        @content;
    }
}

@mixin media-max($length) {
    @media (max-width: $length) {
        @content;
    }
}

@mixin line-pink($w) {
    height: 2px;
    width: $w;
    background-color: $c-pink;
}

html,
body {
    font-family: $ff-regular;
}

.container {
    @include media-max(576px) {
        padding: 0 1.5rem;
    }
}

img {
    width: 100%;
}

.ff-bold {
    font-family: $ff-bold;
}

.ff-light {
    font-family: $ff-light;
}

.c-orange {
    color: $c-orange;
}

.c-pink {
    color: $c-pink;
}

.c-gray-black {
    color: $c-gray-black;
}

p,
span,
strong,
input,
select,
textarea,
button,
a,
ul {
    font-size: 1.4rem;
    line-height: 1.6rem;
}

.max-w-400 {
    max-width: 400px;
}

.text-space-4px {
    letter-spacing: 4px;
}

.line-pink-30 {
    @include line-pink(30px);
}

.mtb-1rem {
    margin: 1rem 0;
}

.mtb-1rem-auto {
    margin: 1rem auto;
}

.pink-gd {
    background: rgb(179, 16, 50);
    background: linear-gradient(3deg, rgba(179, 16, 50, 1) 0%, rgba(239, 77, 110, 1) 100%);
}

.hide-767 {
    display: block;
    @include media-max(767px) {
        display: none;
    }
}

.show-767 {
    display: none;
    @include media-max(767px) {
        display: block;
    }
}

.hide-576 {
    display: block;
    @include media-max(576px) {
        display: none;
    }
}

.show-576 {
    display: none;
    @include media-max(576px) {
        display: block;
    }
}

.fw-600 {
    font-weight: 600;
}

label.error {
    color: #ff0000;
}