.navbar {
    padding: 1.5rem 0;
    .navbar-brand {
        .position-absolute {
            top: 0;
            z-index: 999;
        }
        img {
            max-width: 120px;
        }
    }
    .head-social {
        i {
            color: $c-pink;
            font-size: 1.5rem;
            padding-left: 1rem;
        }
    }
}