html,
body {
  font-family: "DBAdmanX"; }

@media (max-width: 576px) {
  .container {
    padding: 0 1.5rem; } }

img {
  width: 100%; }

.ff-bold {
  font-family: "DBAdmanX-Blod"; }

.ff-light {
  font-family: "DBAdmanX-Light"; }

.c-orange {
  color: #ff8a00; }

.c-pink {
  color: #ef476a; }

.c-gray-black {
  color: #565656; }

p,
span,
strong,
input,
select,
textarea,
button,
a,
ul {
  font-size: 1.4rem;
  line-height: 1.6rem; }

.max-w-400 {
  max-width: 400px; }

.text-space-4px {
  letter-spacing: 4px; }

.line-pink-30 {
  height: 2px;
  width: 30px;
  background-color: #ef476a; }

.mtb-1rem {
  margin: 1rem 0; }

.mtb-1rem-auto {
  margin: 1rem auto; }

.pink-gd {
  background: #b31032;
  background: linear-gradient(3deg, #b31032 0%, #ef4d6e 100%); }

.hide-767 {
  display: block; }
  @media (max-width: 767px) {
    .hide-767 {
      display: none; } }

.show-767 {
  display: none; }
  @media (max-width: 767px) {
    .show-767 {
      display: block; } }

.hide-576 {
  display: block; }
  @media (max-width: 576px) {
    .hide-576 {
      display: none; } }

.show-576 {
  display: none; }
  @media (max-width: 576px) {
    .show-576 {
      display: block; } }

.fw-600 {
  font-weight: 600; }

label.error {
  color: #ff0000; }

.navbar {
  padding: 1.5rem 0; }
  @media (max-width: 991px) {
    .navbar {
      padding: 1rem 0; } }
  .navbar .navbar-brand .position-absolute {
    top: 0;
    z-index: 999; }
  .navbar .navbar-brand img {
    max-width: 120px; }
  @media (max-width: 991px) {
    .navbar .navbar-brand img {
      max-width: 90px; } }
  .navbar .head-social i {
    color: #ef476a;
    font-size: 1.5rem;
    padding-left: 1rem; }

footer {
  background-color: #ef476a;
  padding: 1rem;
  text-align: center; }
  footer .ft-copyright {
    padding-top: 3px;
    display: block; }

.btn-discount img {
  width: 200px;
  cursor: pointer; }
@media (max-width: 991px) {
  .btn-discount img {
    width: 150px; } }

.btn-benefit {
  background-color: transparent;
  border: 1px solid #ffffff;
  outline: none;
  color: #ffffff;
  padding: 4px 6px 1px;
  cursor: auto !important; }

.submit-discount {
  background-color: #ef476a;
  border: none;
  color: #ffffff;
  padding: 6px 1.5rem 3px; }

.left-to-right {
  position: relative;
  animation-name: left-to-right; }

@keyframes left-to-right {
  0% {
    left: -15rem;
    opacity: 0; }
  100% {
    left: 0;
    opacity: 1; } }
.right-to-left {
  position: relative;
  animation-name: right-to-left; }

@keyframes right-to-left {
  0% {
    right: -15rem;
    opacity: 0; }
  100% {
    right: 0;
    opacity: 1; } }
.animate-slow-show {
  position: relative;
  animation-name: animate-slow-show; }

@keyframes animate-slow-show {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
.animate-bnf-ltr {
  position: relative;
  animation-name: animate-bnf-ltr; }

@keyframes animate-bnf-ltr {
  0% {
    left: -15rem; }
  100% {
    left: 0; } }
[id*="waypoint"],
[class*="-wpt"] {
  animation-duration: 1s; }

.animate-slow-show,
.animate-bnf-ltr {
  animation-duration: 2s; }

.loader {
  display: none;
  margin: auto;
  border: 10px solid #393d3b;
  border-radius: 50% !important;
  border-top: 10px solid #ef476a;
  width: 40px;
  height: 40px;
  -webkit-animation: spin 2s linear infinite;
  /* Safari */
  animation: spin 2s linear infinite; }

@keyframes spin {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }
@media (max-width: 576px) {
  section.banner {
    display: grid; } }
@media (max-width: 767px) {
  section.banner .baner-img {
    height: 50vh; }
    section.banner .baner-img img {
      height: 100%;
      object-fit: cover;
      object-position: center; } }
@media (max-width: 576px) {
  section.banner .baner-img {
    height: auto;
    order: 2; } }
section.banner .banner-text {
  left: 0;
  right: 0; }
  @media (max-width: 576px) {
    section.banner .banner-text {
      order: 1;
      position: relative !important;
      transform: none !important;
      top: 0 !important;
      text-align: center;
      margin: 4rem 0 2rem; } }
section.banner .mct-oil-logo img {
  max-width: 390px; }
  @media (max-width: 991px) {
    section.banner .mct-oil-logo img {
      max-width: 300px; } }
  @media (max-width: 767px) {
    section.banner .mct-oil-logo img {
      max-width: 200px; } }
  @media (max-width: 576px) {
    section.banner .mct-oil-logo img {
      max-width: 300px; } }
section.banner .banner-discount img {
  max-width: 200px; }
@media (max-width: 991px) {
  section.banner .banner-discount img {
    max-width: 150px; } }
@media (max-width: 991px) {
  section.banner .max-w-400 {
    max-width: 330px; } }
@media (max-width: 767px) {
  section.banner .max-w-400 {
    max-width: 280px; } }
@media (max-width: 576px) {
  section.banner .max-w-400 {
    max-width: 100%; }
    section.banner .max-w-400 span.fs-3 {
      display: block;
      text-align: left;
      padding-left: .85rem; } }

section.mct-vdo {
  background: linear-gradient(180deg, #ef476a 150px, rgba(0, 0, 0, 0) 150px), url("../../images/landing/bg-vdo-left.png"), url("../../images/landing/bg-vdo-right.png");
  background-position: 0 0, bottom left, bottom right;
  background-repeat: no-repeat;
  padding: 3rem 0; }
  @media (max-width: 1400px) {
    section.mct-vdo {
      background-size: 100%, 10%, 10%; } }
  @media (max-width: 576px) {
    section.mct-vdo {
      background-size: 0, 25%, 25%;
      overflow: hidden; } }
  @media (max-width: 576px) {
    section.mct-vdo .container {
      padding: 0; } }
  section.mct-vdo .vdo-body {
    position: relative;
    max-width: 600px;
    margin: auto; }
    section.mct-vdo .vdo-body img {
      max-width: 600px;
      margin: auto;
      border-radius: 6px; }
    section.mct-vdo .vdo-body .fa-youtube {
      color: #c93535;
      font-size: 4rem;
      cursor: pointer;
      transition: all .15s; }
      section.mct-vdo .vdo-body .fa-youtube:hover {
        transition: all .15s;
        font-size: 4.15rem;
        text-shadow: 0px 0px 10px #ffffff; }
    section.mct-vdo .vdo-body iframe {
      width: 100%;
      height: 343px;
      border: 6px solid #ffffff;
      border-radius: 6px; }
      @media (max-width: 767px) {
        section.mct-vdo .vdo-body iframe {
          height: 296px; } }
      @media (max-width: 576px) {
        section.mct-vdo .vdo-body iframe {
          height: 282px; } }
      @media (max-width: 480px) {
        section.mct-vdo .vdo-body iframe {
          height: 186px; } }
  @media (max-width: 576px) {
    section.mct-vdo .vdo-desc .col-md-4 {
      order: 1;
      text-align: left !important;
      padding: 0 2.5rem; }
    section.mct-vdo .vdo-desc .col-12 {
      order: 2;
      background: linear-gradient(0deg, #ef476a 100px, rgba(0, 0, 0, 0) 100px);
      padding-bottom: 2rem; }
      section.mct-vdo .vdo-desc .col-12 .vdo-body {
        padding: 0 1.5rem; }
    section.mct-vdo .vdo-desc .col-md-8 {
      order: 3;
      padding: 0 2.5rem; } }
  section.mct-vdo .vdo-desc .col-md-4 strong {
    display: block;
    letter-spacing: 4px; }
  @media (max-width: 767px) {
    section.mct-vdo .vdo-desc .col-md-4 {
      text-align: center; }
      section.mct-vdo .vdo-desc .col-md-4 .line-pink-30 {
        margin: 1rem auto; } }
  @media (max-width: 576px) {
    section.mct-vdo .vdo-desc .col-md-4 .line-pink-30 {
      margin: 1rem 0; }
    section.mct-vdo .vdo-desc .col-md-4 strong {
      font-size: 2rem;
      letter-spacing: 6px;
      line-height: 3rem; } }
  @media (max-width: 767px) {
    section.mct-vdo .vdo-desc .col-md-8 .btn-discount {
      text-align: center !important; } }
  @media (max-width: 576px) {
    section.mct-vdo .vdo-desc .col-md-8 .btn-discount {
      margin-top: 3rem; } }

section.mct-compare {
  background-color: #f9faf9;
  padding: 3rem 0 0; }
  @media (max-width: 576px) {
    section.mct-compare {
      overflow: hidden; } }
  @media (max-width: 576px) {
    section.mct-compare .compare-head {
      text-align: left !important; }
      section.mct-compare .compare-head strong {
        font-size: 2rem;
        line-height: 3rem;
        letter-spacing: 6px; }
      section.mct-compare .compare-head .line-pink-30 {
        margin: 1rem 0 1.5rem; } }
  section.mct-compare .compare-body {
    background-image: url("../../images/landing/bg-compare.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    padding-bottom: 3rem; }
    @media (max-width: 1400px) {
      section.mct-compare .compare-body {
        background-size: contain;
        background-position: center bottom; } }
    @media (max-width: 767px) {
      section.mct-compare .compare-body {
        background-size: contain;
        background-position: center; } }
    @media (max-width: 576px) {
      section.mct-compare .compare-body {
        background: transparent;
        margin-top: 3rem; } }
    @media (max-width: 576px) {
      section.mct-compare .compare-body .bg-mobile-top {
        background-image: url("../../images/landing/bg-compare-top.png");
        background-repeat: no-repeat;
        background-size: cover;
        margin: 0 -8%; } }
    @media (max-width: 576px) {
      section.mct-compare .compare-body .normal-product.show-767 {
        background-image: url("../../images/landing/bg-compare-bottom.png");
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center bottom;
        margin: 0 -8%; } }
  section.mct-compare .compare-product img {
    max-width: 100px;
    margin: 1.5rem 3rem; }
  section.mct-compare .compare-vs {
    width: 50px; }
  @media (max-width: 991px) {
    section.mct-compare .compare-list .col-md-6.pe-5 {
      padding-right: 1.5rem !important; }
    section.mct-compare .compare-list .col-md-6.ps-5 {
      padding-left: 1.5rem !important; } }
  @media (max-width: 991px) {
    section.mct-compare .compare-list .col-md-6.pe-5,
    section.mct-compare .compare-list .col-md-6.ps-5 {
      padding: .5rem !important; } }
  @media (max-width: 767px) {
    section.mct-compare .compare-list .col-12.mt-5 {
      margin-top: 1.5rem !important; } }
  @media (max-width: 767px) {
    section.mct-compare .compare-list .col-12.mt-5 .btn-discount {
      margin-top: 1rem; } }
  section.mct-compare .compare-list ul {
    list-style: none;
    padding: 1.5rem;
    margin-bottom: 0; }
    section.mct-compare .compare-list ul li {
      position: relative; }
    section.mct-compare .compare-list ul li:not(last-child) {
      margin-bottom: 1rem; }
  section.mct-compare .compare-list .rejuvis-mct ul {
    padding-right: 4rem; }
  section.mct-compare .compare-list .rejuvis-mct li::after {
    content: '';
    background-image: url("../../images/landing/i-checked.png");
    width: 28px;
    height: 19px;
    position: absolute;
    top: 50%;
    right: -3rem;
    transform: translateY(-50%); }
  @media (max-width: 767px) {
    section.mct-compare .compare-list .rejuvis-mct {
      text-align: left !important; }
      section.mct-compare .compare-list .rejuvis-mct ul {
        padding-right: 1.5rem;
        padding-left: 4rem; }
      section.mct-compare .compare-list .rejuvis-mct li::after {
        content: none; }
      section.mct-compare .compare-list .rejuvis-mct li::before {
        content: '';
        background-image: url("../../images/landing/i-checked.png");
        width: 28px;
        height: 19px;
        position: absolute;
        top: 50%;
        left: -2.75rem;
        transform: translateY(-50%); } }
  @media (max-width: 767px) {
    section.mct-compare .compare-list .normal-mct {
      margin-top: 1.5rem; } }
  section.mct-compare .compare-list .normal-mct ul {
    padding-left: 4rem; }
  section.mct-compare .compare-list .normal-mct li::before {
    content: '';
    background-image: url("../../images/landing/i-list.png");
    width: 23px;
    height: 3px;
    position: absolute;
    top: 50%;
    left: -2.75rem;
    transform: translateY(-50%); }
  @media (max-width: 576px) {
    section.mct-compare .compare-list .normal-mct .compare-product {
      margin-bottom: 1rem; } }
  section.mct-compare .mct-box {
    background-color: #ef476a;
    color: #ffffff;
    border-radius: 10px;
    border: 1px solid #ef476a;
    height: 100%; }
    @media (max-width: 767px) {
      section.mct-compare .mct-box {
        height: auto; } }
    section.mct-compare .mct-box .mct-box-title {
      background-color: #ffffff;
      color: #000000;
      display: block;
      padding: .5rem 1.5rem;
      border-radius: 10px 10px 0 0;
      letter-spacing: 4px; }

section.mct-benefit {
  background: url("../../images/landing/bg-benefit-left.png"), url("../../images/landing/bg-benefit-right.png");
  background-position: bottom left, bottom right;
  background-repeat: no-repeat;
  padding: 3rem 0; }
  @media (max-width: 1400px) {
    section.mct-benefit {
      background-size: 15%, 15%; } }
  @media (max-width: 576px) {
    section.mct-benefit {
      background: linear-gradient(0deg, #f5f5f5 80%, rgba(0, 0, 0, 0) 80%); }
      section.mct-benefit .col-12.mt-5 {
        margin-top: 2rem !important; } }
  section.mct-benefit .col-md-4 {
    padding: 0 2rem; }
    @media (max-width: 991px) {
      section.mct-benefit .col-md-4 {
        padding: 0 1rem; } }
  @media (max-width: 576px) {
    section.mct-benefit .benefit-head strong {
      font-size: 2rem; } }
  section.mct-benefit .benefit-body-img .col-img {
    position: relative; }
    section.mct-benefit .benefit-body-img .col-img .btn-benefit {
      position: absolute;
      bottom: 1rem;
      left: 50%;
      transform: translateX(-50%); }
  @media (max-width: 576px) {
    section.mct-benefit .benefit-body-img {
      margin: 0 -25px; }
      section.mct-benefit .benefit-body-img .col-md-4 {
        padding: 0; } }
  section.mct-benefit .benefit-body-desc .col-md-4 {
    margin-top: 3rem; }
    section.mct-benefit .benefit-body-desc .col-md-4 h4 {
      font-weight: 600; }
  section.mct-benefit .benefit-body-desc .col-img-icon {
    width: 74px;
    margin: 0 auto 1.5rem; }

section.mct-whyour {
  position: relative;
  background: linear-gradient(0deg, #ef476a 15px, rgba(0, 0, 0, 0) 15px);
  padding: 3rem 0; }
  section.mct-whyour::after {
    content: '';
    background-image: url("../../images/landing/bg-whyour-right.png");
    background-repeat: no-repeat;
    background-position: bottom right;
    width: 280px;
    height: 300px;
    position: absolute;
    right: 0;
    bottom: -2rem; }
    @media (max-width: 1400px) {
      section.mct-whyour::after {
        bottom: -1rem;
        background-size: 60%; } }
    @media (max-width: 767px) {
      section.mct-whyour::after {
        background-size: 40%; } }
    @media (max-width: 576px) {
      section.mct-whyour::after {
        background-size: 25%; } }
  @media (max-width: 576px) {
    section.mct-whyour .whyour-head {
      text-align: left !important; }
      section.mct-whyour .whyour-head strong {
        font-size: 2rem;
        line-height: 3rem;
        letter-spacing: 6px; }
      section.mct-whyour .whyour-head .line-pink-30 {
        margin: 1rem 0 .5rem !important; } }
  section.mct-whyour .whyour-body .col-md-6 {
    margin-top: 1.5rem; }
    section.mct-whyour .whyour-body .col-md-6 .col-body {
      overflow: hidden; }
      section.mct-whyour .whyour-body .col-md-6 .col-body h4 {
        margin-top: 1rem;
        font-weight: 600; }
      section.mct-whyour .whyour-body .col-md-6 .col-body ul {
        list-style: none; }
        section.mct-whyour .whyour-body .col-md-6 .col-body ul li {
          position: relative; }
          section.mct-whyour .whyour-body .col-md-6 .col-body ul li::after {
            content: '';
            width: 20px;
            height: 2px;
            background-color: #ef476a;
            position: absolute;
            top: .6rem;
            left: -2rem; }

section.mct-review {
  background: -webkit-linear-gradient(7deg, #ef476a 25%, rgba(0, 0, 0, 0) 25%), -webkit-linear-gradient(7deg, #ffb5c4 59%, #f5f5f5 59%);
  background: -o-linear-gradient(7deg, #ef476a 25%, rgba(0, 0, 0, 0) 25%), -o-linear-gradient(7deg, #ffb5c4 59%, #f5f5f5 59%);
  background: -moz-linear-gradient(7deg, #ef476a 25%, rgba(0, 0, 0, 0) 25%), -moz-linear-gradient(7deg, #ffb5c4 59%, #f5f5f5 59%);
  background: linear-gradient(7deg, #ef476a 25%, rgba(0, 0, 0, 0) 25%), linear-gradient(7deg, #ffb5c4 59%, #f5f5f5 59%);
  padding: 3rem 0 6rem; }
  @media (max-width: 576px) {
    section.mct-review .review-head {
      text-align: left !important; }
      section.mct-review .review-head strong {
        font-size: 2rem;
        line-height: 3rem;
        letter-spacing: 6px; }
      section.mct-review .review-head .line-pink-30 {
        margin: 1rem 0 .5rem !important; } }
  section.mct-review .vdo-review .col-md-4 {
    margin-top: 1.5rem; }
  section.mct-review .vdo-review .col-body {
    height: 100%;
    overflow: hidden;
    background-color: #ffffff; }
    section.mct-review .vdo-review .col-body iframe {
      width: 100%;
      height: 250px; }
  section.mct-review .vdo-review .col-desc {
    background-color: #ffffff;
    height: 100%;
    padding: 1.5rem; }
    section.mct-review .vdo-review .col-desc p {
      margin-bottom: 0;
      font-size: 1.2rem;
      line-height: 1.25rem; }
    section.mct-review .vdo-review .col-desc h4 {
      font-weight: 600; }
  section.mct-review .people-review .col-body {
    background-color: #ffffff;
    padding: 1.5rem 2rem;
    height: 100%; }
    section.mct-review .people-review .col-body .col-img {
      max-width: 234px;
      margin: 0 auto 1rem;
      border-radius: 50%;
      overflow: hidden; }
    section.mct-review .people-review .col-body .col-desc p {
      margin-bottom: 0;
      font-size: 1.2rem;
      line-height: 1.25rem; }
    section.mct-review .people-review .col-body .col-desc h4 {
      font-weight: 600; }
  @media (max-width: 767px) {
    section.mct-review .people-review .col-md-4:not(:last-child) {
      margin-bottom: 1.5rem; } }

section.mct-tiptrick {
  background-image: url("../../images/landing/bg-tiptrick.png");
  background-repeat: no-repeat;
  background-position: bottom center;
  padding: 3rem 0 0; }
  @media (max-width: 767px) {
    section.mct-tiptrick {
      background-position: center; } }
  @media (max-width: 576px) {
    section.mct-tiptrick .tiptrick-head {
      text-align: left !important; }
      section.mct-tiptrick .tiptrick-head strong {
        font-size: 2rem;
        line-height: 3rem;
        letter-spacing: 6px; }
      section.mct-tiptrick .tiptrick-head .line-pink-30 {
        margin: 1rem 0 .5rem !important; } }
  section.mct-tiptrick .tiptrick-body .col-md-6 {
    position: relative; }
  section.mct-tiptrick .tiptrick-body .col-img {
    text-align: right; }
    section.mct-tiptrick .tiptrick-body .col-img img {
      max-width: 450px; }
    @media (max-width: 991px) {
      section.mct-tiptrick .tiptrick-body .col-img {
        position: absolute;
        bottom: 0;
        right: 2rem; } }
    @media (max-width: 767px) {
      section.mct-tiptrick .tiptrick-body .col-img {
        position: relative;
        bottom: unset;
        right: unset;
        text-align: center;
        margin-top: 2rem; }
        section.mct-tiptrick .tiptrick-body .col-img img {
          max-width: 350px;
          margin: auto; } }
  section.mct-tiptrick .tiptrick-body .col-desc .position-absolute {
    left: 4rem; }
  @media (max-width: 991px) {
    section.mct-tiptrick .tiptrick-body .col-desc {
      padding: 1.5rem 0 3rem; }
      section.mct-tiptrick .tiptrick-body .col-desc .position-absolute {
        left: 2rem;
        position: relative !important;
        transform: none !important; } }
  @media (max-width: 576px) {
    section.mct-tiptrick .tiptrick-body .col-desc .position-absolute {
      left: unset; } }

section.mct-delivery {
  padding: 3rem 0; }
  @media (max-width: 576px) {
    section.mct-delivery .delivery-head {
      text-align: left !important; }
      section.mct-delivery .delivery-head strong {
        font-size: 2rem;
        line-height: 3rem;
        letter-spacing: 6px; }
      section.mct-delivery .delivery-head .line-pink-30 {
        margin: 1rem 0 1.5rem !important; } }
  section.mct-delivery .delivery-body {
    border-radius: 10px;
    padding: 2.5rem 0; }
    @media (max-width: 767px) {
      section.mct-delivery .delivery-body {
        padding: 2rem; } }
    @media (max-width: 576px) {
      section.mct-delivery .delivery-body {
        margin: 0 !important; } }
    section.mct-delivery .delivery-body .col-img {
      text-align: center;
      color: #ffffff;
      padding: 0 2rem; }
      section.mct-delivery .delivery-body .col-img img {
        max-width: 120px; }
      section.mct-delivery .delivery-body .col-img p {
        margin-top: 1.5rem;
        margin-bottom: 0; }
      @media (max-width: 991px) {
        section.mct-delivery .delivery-body .col-img {
          padding: 0 1rem; }
          section.mct-delivery .delivery-body .col-img img {
            max-width: 80px; } }
    section.mct-delivery .delivery-body .col-md-4:not(:last-child) {
      border-right: 1px solid #ffffff; }
      @media (max-width: 767px) {
        section.mct-delivery .delivery-body .col-md-4:not(:last-child) {
          border-right: none; }
          section.mct-delivery .delivery-body .col-md-4:not(:last-child) .col-img {
            border-bottom: 1px solid #ffffff;
            padding-bottom: 1.5rem;
            margin-bottom: 1.5rem; } }

section.mct-promotion {
  background-color: #f5f5f5;
  background-image: url("../../images/landing/bg-promotion.jpg");
  background-repeat: no-repeat;
  background-position: bottom center;
  padding: 3rem 0 6rem; }
  @media (max-width: 1399px) {
    section.mct-promotion {
      background-size: contain; } }
  @media (max-width: 576px) {
    section.mct-promotion {
      background-image: url("../../images/landing/bg-promotion-mobile.jpg");
      background-position: top center; } }
  @media (max-width: 576px) {
    section.mct-promotion .promotion-head {
      text-align: left !important; }
      section.mct-promotion .promotion-head strong {
        font-size: 2rem;
        line-height: 3rem;
        letter-spacing: 6px; }
      section.mct-promotion .promotion-head .line-pink-30 {
        margin: 1rem 0 1.5rem !important; } }
  section.mct-promotion .promotion-body {
    background-color: #ffffff; }
    @media (max-width: 576px) {
      section.mct-promotion .promotion-body {
        margin: 0 !important; } }
    section.mct-promotion .promotion-body [class*='col-md-'] {
      padding: 0; }
      @media (max-width: 991px) {
        section.mct-promotion .promotion-body [class*='col-md-'] {
          width: 50%; } }
      @media (max-width: 576px) {
        section.mct-promotion .promotion-body [class*='col-md-'] {
          width: 100%; } }
    @media (max-width: 1199px) {
      section.mct-promotion .promotion-body .col-md-4 .col-img {
        height: 100%; }
        section.mct-promotion .promotion-body .col-md-4 .col-img img {
          height: 100%;
          object-fit: contain;
          object-position: center; } }
    section.mct-promotion .promotion-body .col-md-8 {
      background-image: url("../../images/landing/bg-form-right.png");
      background-repeat: no-repeat;
      background-position: center right;
      background-size: contain; }
      @media (max-width: 991px) {
        section.mct-promotion .promotion-body .col-md-8 {
          background-image: none; } }
      section.mct-promotion .promotion-body .col-md-8 .col-form {
        top: 50%;
        transform: translateY(-49%);
        width: 55%;
        padding: 0 4rem; }
        @media (max-width: 1199px) {
          section.mct-promotion .promotion-body .col-md-8 .col-form {
            position: static !important;
            transform: none;
            padding: 3rem 1rem 3rem 4rem; } }
        @media (max-width: 991px) {
          section.mct-promotion .promotion-body .col-md-8 .col-form {
            width: auto;
            padding: 2rem; } }
        @media (max-width: 576px) {
          section.mct-promotion .promotion-body .col-md-8 .col-form .form-title {
            text-align: left !important; }
            section.mct-promotion .promotion-body .col-md-8 .col-form .form-title .line-pink-30 {
              margin: 1rem 0 1.5rem !important; } }
        section.mct-promotion .promotion-body .col-md-8 .col-form form .form-control {
          font-size: 1.25rem; }
        section.mct-promotion .promotion-body .col-md-8 .col-form form .input-group {
          position: relative;
          display: inline-block; }
          section.mct-promotion .promotion-body .col-md-8 .col-form form .input-group .form-icon {
            position: absolute;
            top: .55rem;
            left: .5rem;
            z-index: 99; }
        section.mct-promotion .promotion-body .col-md-8 .col-form form .input-group:not(:last-child) {
          margin-bottom: 1rem; }
        section.mct-promotion .promotion-body .col-md-8 .col-form form input,
        section.mct-promotion .promotion-body .col-md-8 .col-form form textarea {
          width: 100%;
          padding-left: 2.5rem;
          border-radius: 6px !important; }
          section.mct-promotion .promotion-body .col-md-8 .col-form form input:focus,
          section.mct-promotion .promotion-body .col-md-8 .col-form form textarea:focus {
            box-shadow: none; }

/*# sourceMappingURL=mct-style.css.map */
